.login-form{
    width: 300px;
    height: 250px;
    padding: 35px 150px 90px 20px;
}
.check{
    height: 30%;
}
h1{
    width: 300px;
}
.def{
    margin-left: 30px;
    width: 20px;
    height: 25px;
    float: left;
}
.botao{
    border: none;
    background-color: #574b90;
    color: white;
}
p{
    padding-left: 70px;
    width: 300px;
}
.sear{
    border-color: #f39c12;
    width: 380px;
    height: 50px;
    padding: 0px 40px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}
.log{
    width: 40%;
    position: relative;
    top: 50px;
    left: 285px;
}
.menu{
    background: #ffffff;
}
.botao{
    border: none;
    background-color:  #ffffff;
    color: #574b90;
}