.login-form{
    width: 300px;
    height: 450px;
    padding-top:30px;
    top: 400px;
}
h1{
    margin-bottom: 15px;
}
.txt input{
    height: 25px;
}
.txt{
    margin: 0px 0px 15px;
}
.bot{
    display: inline-block;
    width: 45%;
    height: 30px;
    border: none;
    background: linear-gradient(120deg, #8e44ad, #2980b9);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin: 30px 10px 0px 0px;
}
.bot:hover{
    background-position: right;
}
.menu{
    background: #ffffff;
}