.info{
    color: #ffffff;
    margin: 20px 35px;
}
.casa{
    width: 120px;
    height: 70px;
    margin: 5px 20px 10px 100px;
    display: inline-block;
}
.float{
    float: left;
    margin: 100px 0px 10px 50px;
    text-align: -webkit-center;
}
.foto{
    background-color: #574b90;
    width:250px;
    height: 250px;
    border-radius: 100%;
    display: block;
}
.enviar{
    color: #ffffff;
    margin: 30px;
    border: none;
    border-radius: 5px;
    padding: 7px;
    max-width: 100%;
}
p, h2, h1, .container h3{
    color: #ffffff;
}
.container{
    background-image: linear-gradient(436deg, #8e44ad, #2980b9);
    width: 95%;
}
.info-principal ul{
    position: relative;
    width: 300px;
    height: 350px;
    display: inline-block;
    text-align: inherit;
    list-style: none;
    margin: 170px 10% 20px 5%;
}

.container li{
    background: none;
    display: block;
    margin: 0px;
    text-align: left;
}
.container .button{
    background-color: #ff0239;
    color: #ffffff;
    margin-left: 100px;
}
.container input{
    margin: 15px;
}
.container li h3{
    width: 250px;
    text-align: center;
}
.mais-info{
    width: 95%;
    text-align: justify;
}
.barra-lateral{
    height: 2250px;
}
.itens{
    color: #ffffff;
    display: inline-block;

}
.itens li {
    width: 350px;
    padding: 5px;
}
h2{
    font-size: 35px;
    width: 450px;
}
h3{
    font-size: 30px;
    margin: auto 0px 30px;
    text-align: center;
}
h4{
    margin: 35px 100px 5px;
    font-size: 25px;
    color: #ffffff;
}
.barraHorizontal{
    height: 2200px;
}